
.Layout {
	width: 1200px;
	height: 100vh;
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	overflow: hidden;
	box-sizing: border-box;
	font-family: 'Roboto', "Helvetica Neue", Helvetica, sans-serif;
	main {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
}