
.ActiveQuiz {
	border: 2px solid #fff;
	border-radius: 5px;
	padding: 10px 20px 20px 15px;
	color: #fff;
	margin: 0 10px;
	box-sizing: border-box;
}

.Question {
	display: flex;
	justify-content: space-between;
	font-size: 24px;
	small {
		min-width: 60px;
		font-size: 14px;
	}
}